 .shade-1 {
        background-color: #03045E;
        width: 3em;
        height: 1em;
     }
     .shade-2 {
        background-color: #023E8A;
        width: 3em;
        height: 1em;
     }
     .shade-3 {
        background-color: #0077B6;
        width: 3em;
        height: 1em;
     }
     .shade-4 {
        background-color: #0096C7;
        width: 3em;
        height: 1em;
     }
     .shade-5 {
        background-color: #00B4D8;
        width: 3em;
        height: 1em;
     }
     .shade-6 {
        background-color: #48CAE4;
        width: 3em;
        height: 1em;
     }
     .shade-7 {
        background-color: #90E0EF;
        width: 3em;
        height: 1em;
     }
     .shade-8 {
        background-color: #ADE8F4;
        width: 3em;
        height: 1em;
     }
     .shade-9 {
        background-color: #CAF0F8;
        width: 3em;
        height: 1em;
     }
     .shade-10 {
        background-color: #d4f2f8;
        width: 3em;
        height: 1em;
     }