#box-shadow {
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF;
    width: 150px;
    height: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #0088e1;
    color: #fff;
    font-size: 2rem;
    font-weight: 900;    
}